* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primario: #292F34;
	--secundario: #4681B3;
	--terciario: #CF73C7;
}
header, footer {
	background-color: var(--primario);
	color: white;
	width: 100%;
}
header {
	font-size: 2rem;
}
footer {
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}
nav {
	padding: 10px;
}
li {
	display: inline;
	margin: 10px;
}
a {
	color: white;
	text-decoration: none;
}
.contenedor {
	width: 90%;
	margin: 0 auto;
}
/* inputs */
input[type=text] {
	min-width: 30%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid gray;
	font-size: 1.1rem;
}
/* botones */
.btn {
	cursor: pointer;
	margin: 5px;
	border: 0;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 1rem;
}
.b-sec {
	background-color: var(--secundario);
}
.tarjeta {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--primario);
	padding: 10px;
	position:relative;
}
.tarjeta:hover {
	cursor: pointer;
	border: none;
	background-color: var(--secundario);
	color: white;
}
.tarjeta:hover img {
	transform: scale(0.9);
}
.tarjeta:hover .btn-ver {
	display: block;
}
.tarjeta img {
	margin-bottom: 5px;
	width: 100%;
	transition: 0.5s all ease-in-out;
}
.btn-ver {
	border: none;
	outline: none;
	display: none;
	position:absolute;
	left: 2%;
	top: 2%;
	z-index: 10;
	padding: 10px;
	overflow: hidden;
	max-width: 50px;
	max-height: 50px;
	background-color: var(--terciario);
	border-radius: 50%;
	cursor: pointer;
}
.btn-cerrar {
	position:absolute;
	z-index: 15;
	right: 0;
	background-color: var(--terciario);
}

/* apartado vistas main */
#discos-main, #artistas-main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}
